<div class="sidebar">
    <h2>Main Menu</h2>
    <ul>
        <li><a href="/customer/dashboard" class="{{#if (eq active 'requests')}}active{{/if}}">My Requests</a></li>
        <li><a href="/customer/orders" class="{{#if (eq active 'orders')}}active{{/if}}">My Orders</a></li>
        <li><a href="/chat/customer" class="{{#if (eq active 'chat')}}active{{/if}}">Chats</a></li>
        <li><a href="/review/my-reviews" class="{{#if (eq active 'reviews')}}active{{/if}}">My Reviews</a></li>
        <li><a href="/cancel/" class="{{#if (eq active 'cancel')}}active{{/if}}">Cancel Orders/Requests</a></li>
        <li><a href="/account" class="{{#if (eq active 'account')}}active{{/if}}">Account</a></li>
    </ul>
</div>