<header>
    <div class="header-container">
        <link rel="icon" href="/img/Sustainabowl.svg" type="image/x-icon">

        <ul class="landing-buttons">
            <button id="login" class="button-link" onclick="window.location.href='/login'">Login</button>
            <button id="signup" class="button-link" onclick="window.location.href='/register'">Sign Up</button>
        </ul>
    </div>
</header>