    <div class="sidebar">
        <ul>
            <li><a href="/logistics/dashboard" class="{{#if (eq active 'dashboard')}}active{{/if}}">Dashboard</a></li>
            <li><a href="/logistics/calendar" class="{{#if (eq active 'calendar')}}active{{/if}}">Calendar</a></li>
            <li><a href="/logistics/foodprocess" class="{{#if (eq active 'foodprocess')}}active{{/if}}">Food Processing</a></li>
            <li><a href="/logistics/delivery" class="{{#if (eq active 'delivery')}}active{{/if}}">Delivery</a></li>
            <li><a href="/logistics/warehouse" class="{{#if (eq active 'warehouse')}}active{{/if}}">Warehouse Inventory</a></li>
            <li><a href="/logistics/partners" class="{{#if (eq active 'partners')}}active{{/if}}">Logistics Partners</a></li>
            <li><a href="/logistics/procurement" class="{{#if (eq active 'procurement')}}active{{/if}}">Procurement</a></li>
            <li><a href="/logistics/sendalert" class="{{#if (eq active 'sendalert')}}active{{/if}}">Send an Alert</a></li>
            <li><a href="/user/profile" class="{{#if (eq active 'account')}}active{{/if}}">Account</a></li>
        </ul>
    </div>