<header>
    <div class="header-left">
        <a href="/"><img    
            src="/img/Sustainabowl.svg" 
            alt="Sustainabowl Logo" 
            class="logo"
        >
        <p>Sustainabowl</p>
        </a>
    </div>

    {{#if homepage}}
        <div id="header-middle">
            <form action="/search.hbs" method="get">
                <input type="text" placeholder="Search Produce.." id="search">
                <button type="submit" class="image-btn">
                    <img src="/img/search-icon.png" width="150px" height="150px">
                </button>
            </form>
        </div>
    {{/if}}

    <div class="header-right">
        <p>Customer</p>
        <img src="account-icon.png" onclick="openAccount()">
        {{#if homepage}}
            <img src="cart-icon.png" onclick="openCart()">
        {{/if}}
    </div>
</header>