<header>
    <div class="header-container">
        <a href="/"><img    
            src="/img/Sustainabowl.svg" 
            alt="Sustainabowl Logo" 
            class="logo"
        >
        <p>Sustainabowl</p>
        </a>
            {{#if user}}
            <ul class="nav-links">
                {{#if user.usertype}}
                    {{#if (eq user.usertype "Customer")}}
                        <li>Customer</li>
                    {{else if (eq user.usertype "Logistics")}}
                        <li>Logistics</li>
                    {{else if (eq user.usertype "Sales")}}
                        <li>Sales</li>
                    {{/if}}
                {{/if}}
                                    

                <li class="user-dropdown">
                    <img id="user-icon" class="usericon-header" src={{user.profilePicture}}>
                    <ul class="dropdown-menu" id="dropdown-menu">
                        <li><a href="/user/profile" class="dropdown-item">View Account</a></li>
                        <li><a onclick="logoutUser()" class="dropdown-item">Logout</a></li>
                    </ul>

                </li>     
            </ul>
            {{/if}}
    </div>
</header>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    const userIcon = document.getElementById('user-icon');
    const dropdownMenu = document.getElementById('dropdown-menu');

    userIcon.addEventListener('click', function(event) {
        event.preventDefault();
        dropdownMenu.style.display = dropdownMenu.style.display === 'block' ? 'none' : 'block';
    });

    // Close the dropdown menu if the user clicks outside of it
    document.addEventListener('click', function(event) {
        if (!userIcon.contains(event.target) && !dropdownMenu.contains(event.target)) {
            dropdownMenu.style.display = 'none';
        }
    });
});

</script>