    <div class="sidebar">
        <ul>
            <li><a href="/sales/dashboard" class="{{#if (eq active 'dashboard')}}active{{/if}}">Dashboard</a></li>
            <li><a href="/sales/requests" class="{{#if (eq active 'requests')}}active{{/if}}">Review Request</a></li>
            <li><a href="/sales/warehouse" class="{{#if (eq active 'warehouse')}}active{{/if}}">Warehouse Inventory</a></li>
            <li><a href="/chat/sales" class="{{#if (eq active 'chats')}}active{{/if}}">Chats</a></li>
            <li><a href="/logistics/foodprocess" class="{{#if (eq active 'warehouse')}}active{{/if}}">Calendar</a></li>
            <li><a href="/logistics/partners" class="{{#if (eq active 'partners')}}active{{/if}}">Feedback</a></li>
            <li><a href="/logistics/sendalert" class="{{#if (eq active 'procurement')}}active{{/if}}">Alert</a></li>
            <li><a href="/user/profile" class="{{#if (eq active 'account')}}active{{/if}}">Account</a></li>
        </ul>
    </div>