{{!< main}}




<!DOCTYPE html>
<html>
<head>
    {{> head}}

    {{!-- Unique Stylesheet/s for Page --}}
    {{!-- Pass a stylesheets array to this .hbs file using res.render() --}}
    {{#if css}}
        {{#each css}}
            <link rel="stylesheet" href="/css/{{this}}">
        {{/each}}
    {{/if}}
    
    <title>{{title}}</title>
</head>
<body>
    {{> navbar}}

 
        {{> customer-sidebar}}
        <div style="margin-top: 70px"></div>
        <div class="main-content">
            {{{body}}}
        </div>
    
    


    {{!-- Include JavaScript files --}}
    {{#if js}}
        {{#each js}}
            <script src="/js/{{this}}"></script>
        {{/each}}
    {{/if}}

    <script src="/js/logout.js"></script>
</body>
</html> 