    <div class="main-div">
        <div class="login-form-div">
            <h2>Login</h2>
                <form action="/login" method="post">
                
                    {{#if messages}}
                        {{#each messages}}
                            <div class="alert">{{this}}</div>
                        {{/each}}
                    {{/if}}

                    <div class="login-info">
                        <input type="email" name="email" id="email" placeholder="Email" required><br>
                        <input type="password" name="password" id="password" placeholder="Password" required><br>
                    </div>

                    <div class="action-buttons">
                        <input type="submit" value="Login" class="submit">
                        <span id="remember-me-span">
                            <input type="checkbox" name="rememberMe" id="remember-me">
                            <label for="remember-me">Remember Me</label>
                        </span>
                    </div>

                </form>
                <br>
            <p>Not yet a SustainaPartner? <a href="/register"><span style="text-decoration: underline; color: var(--green)">Sign up</span></a></p>
        </div>
        <div class="login-bg-div">
            <img class="login-bg" src="/img/Sustainabowl.svg" alt="login-bg" width="1025px" height="840px">
        </div>
    </div> 
