<div class="main-layout">
    <div class="procurement-container">
        <div class="header-section">
            <h2>Procurements</h2>
            <button class="create-btn" onclick="openOverlay()">Create +</button> 
        </div>

        <div class="procurement-table-container">
            <table class="procurement-table">
                <thead>
                    <tr>
                        <th>Procurement ID</th>
                        <th>Agency Name</th>
                        <th>Incoming Date</th>
                        <th>Items</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {{!-- This will be automatically populated by the js file --}}
                </tbody>
            </table>
            <div class="pagination">
                <span>Page <span id="currentProcurementPage">1</span> of <span id="totalProcurementPages">1</span></span>
                <div class="pagination-controls">
                    <button id="prevProcurement" class="nav-button" onclick="changeProcurementPage(-1)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m15 18-6-6 6-6"/></svg>
                    </button>
                    <button id="nextProcurement" class="nav-button" onclick="changeProcurementPage(1)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
                    </button>
                </div>
            </div>
        </div>

        <div class="recently-completed-section">
            <div class="header-section">
                <h2>Recently Completed</h2>
                <button class="warehouse-btn" onclick="navigateToWarehouse()">Warehouse ></button>
            </div>
            <table class="completed-table">
                <thead>
                    <tr>
                        <th>Procurement ID</th>
                        <th>Agency Name</th>
                        <th>Received Date</th>
                        <th>Items Accepted</th>
                        <th>Items Discarded</th>
                    </tr>
                </thead>
                <tbody>
                    {{!-- This will be automatically populated by the js --}}
                </tbody>
            </table>
            <div class="pagination">
                <span>Page <span id="currentCompletedPage">1</span> of <span id="totalCompletedPages">1</span></span>
                <div class="pagination-controls">
                    <button id="prevCompleted" class="navigation-buttons" onclick="changeCompletedPage(-1)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m15 18-6-6 6-6"/></svg>
                    </button>
                    <button id="nextCompleted" class="navigation-buttons" onclick="changeCompletedPage(1)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Create Procurement Overlay -->
    <div id="procurement-overlay" onclick="closeOverlayOutside(event)">
        <div class="overlay-content">
            <i class="fa-solid fa-xmark" alt="Close" onclick="closeOverlay()"></i>
            <h2>Add New Procurement<span id="overlay-name"></span></h2>
                {{!-- the form input fields will be automatically loaded --}}
            <button class="save-btn" onclick="createProcurement()">Save</button>
        </div>
    </div>

    <!-- Completed Procurement Overlay -->
    <div id="completed-overlay" onclick="closeOverlayOutside(event)">
        <div class="overlay-content">
            <i class="fa-solid fa-xmark" alt="Close" onclick="closeOverlay()"></i>
            <h2>Received Procurement Details<span id="overlay-name"></span></h2>
                {{!-- the form input fields will be automatically loaded --}}
            <button class="save-btn" onclick="createProcurement()">Save</button>
        </div>
    </div>
</div>

<script src="/js/logistics-procurement.js"></script>