<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/welcome.css">
</head>
<body>
    <section class="hero">
        <div class="container">
            <div class="header-hero">
                <h1>Be Sustainable with Sustainabowl</h1>
                <img src="\img\Sustainabowl.svg" alt="Sustainabowl Logo">
            </div>
            <p>
                Sustainabowl is a Social Enterprise dedicated to uplifting the Philippines' Agricultural Supply Chain by reducing wasted Ugly Produce in the market.
            </p>
            <p>
                Rescued Produce or "Ugly Produce" are fresh and safe-to-eat vegetables that are rejected in groceries because of their looks. We look out for these produce and bring them to you for cheap! By doing so, we give farmers more income, and our customers more fresh produce and savings!
            </p>
            <a href="/login" class="cta-button">Get Started</a>
        </div>
    </section>
</body>
</html>
