body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Onest', sans-serif;
  }

.main-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20%;
    width: 100%;
    gap: 20px;
}

.login-form-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.login-info {
    display: flex;
    flex-direction: column;

}

.register {
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.login-info input{
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 100%;
    background-color: #ececec;

}

.action-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.submit:hover {
    background-color: var(--yellow);
    color: var(--white);
    cursor: pointer;
}

.submit {
    width: 40%;
    background-color: var(--green);
    color: #000000;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.alert {
    margin-top: 10px;
    margin-bottom: 15px;
    outline: 0.5px solid var(--light-red);
    background-color: #ffdfdf;
    color: var(--red);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 20%;
    position: fixed;
    width: 100%;
}

.header-container p {
    font-size: 1.5rem;
    font-weight: bold;
}

.landing-buttons button{
    border-radius: 30px;
}

.landing-buttons button:hover {
    background-color: var(--magenta);
    color: var(--white);
    cursor: pointer;
}

#login {
    background-color: #c4c4c4;
    color: var(--white);
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
}

#login:hover {
    background-color: var(--magenta);
}

.login-bg-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 100%;
}

.login-bg {
    height: 25rem;
    width: auto;
}

.register-bg {
    height: 20rem;
    border-radius: 30px;
    width: 50%;
    object-fit: cover;
}


.field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.field input{
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 300px;
}

.hero {
    display: flex;
    /* height: 100vh; */
    background: linear-gradient(to bottom right, #f7f7f7, #dbdbdb);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    color: rgb(0, 0, 0);
    /* text-align: center; */
    padding: 50px;
    border-radius: 50px;
    align-items: center;
    justify-content: flex-start;
}

.hero .container {
    max-width: 800px;
    margin: auto;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
}

.cta-button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    background-color: var(--green);
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: var(--yellow);
}

.header-hero {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header-hero img {
    height: 50px;
    width: 50px;

}

.title {
    font-size: 2rem;
    font-weight: bold;
}