.container {
    margin-top: 100px;
}

.header-left a{
    display: flex;
    align-items: center;
}

.header-left a img {
    margin-right: 10px;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-right p{
    margin-right: 20px;
}

.header-right i{
    cursor: pointer;
    margin-right: 20px;
}